@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject IViewLocalizer Localizer

@if (signInManager.IsSignedIn(User))
{

    <a class="navbar-brand" asp-controller="Home" asp-action="Index">CA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="navbar-brand">Welcome @User.Identity.Name</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Settings">User settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Post" asp-action="Add">Add post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </div>
}
else
{
    <a class="navbar-brand" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
}
