@model long

    <form asp-action="AddImage" asp-route-postid=@Model asp-controller="Post" method="post" class="md-form" enctype="multipart/form-data">
        <label for="imageList">Upload images</label>
        <input type="file" name="imageList" multiple /><br />
        <small class="form-text text-muted">Accepted formats: PNG, JPG - Filesize: max. 4 MB</small>
        <button type="submit" class="btn btn-primary">Add images</button>
    </form>
